@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Code Pro", serif;
  font-size: 20px;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  animation: fadeInOut 5s infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.navbar {
  background-color: black;
  overflow: hidden;
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-self: flex-end;
  padding: 3px;
  top: 1px;
  border: 1px solid red;
  justify-content: flex-end;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: 1px solid red;
  margin-bottom: 1px;
  box-shadow: 3px 3px 3px 2px red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.navbar a:hover {
  background-color: red;
  transition: all 0.2s ease;
}

.f_tag {
  background-color: red;
  color: white;
  padding: 4px;
  text-align: center;
  position: fixed;
  bottom: 5px;
  width: 100%;
  border: 2px solid red;
}

.flag {
  /* FTW{0h_y0u_f0und_us} */
  /* bG9naW4gcGVyaGFwcz8/Pw== */
  color: white;
}